.notification-content {
    position: relative;
    background: lightyellow;
    width: 350px;
    padding: 20px;
    box-shadow: -3px 6px 15px 1px rgba(0,0,0,0.15);
    .close-popup-dialog {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .update-btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}
